.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  overflow: auto;   
  overflow-y: hidden; 
  scrollbar-base-color:#ffeaff
}
.logo {
  color: white;
  flex: 0.13;
}
.right_h {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0.87;
}
.right_h > h3 {
  margin-left: 20px;
  font-weight: 500;
  font-size: 15px;
}
.hh2 {
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 15px;
  color: black;
}
h3:hover {
  color: peru;
  cursor: pointer;
}
.hh1 {
  color: peru;
}
.imgh {
  height: 80px;
}
