.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgray;
}
.img_info {
  height: 250px;
  width: 350px;
  object-fit: contain;
}
.desc_info{
  margin-left: 5%;
  margin-right: 15%;
}
.info > h1 {
  font-size: 25px;
  font-weight: 800;
  padding-left: 10px;
}
.info > p {
  width: 40%;
  font-size: 16px;
  padding: 10px;
  color: #808080;
  font-weight: 500;
  margin-bottom: 35px;
}

@media only screen and (max-width: 700px){
  .info{
    display: grid;
    grid-template-columns: 100%;
  }
  .img_info {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .desc_info{
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .desc_info h1, p{
    text-align: center;
  }

  .img_info{
    align-items: center;
  }
}